<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="PingExchange" value="https://git.pingpay/api/v4/groups/5/-/packages/nuget/index.json" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="PingExchange">
            <package pattern="Pingpay.*" />
        </packageSource>
    </packageSourceMapping>
    <packageSourceCredentials>
        <PingPay>
            <add key="Username" value="%Nuget_GitLab_Username%" />
            <add key="ClearTextPassword" value="%Nuget_GitLab_Password%" />
        </PingPay>
    </packageSourceCredentials>
</configuration>